@model IndexModel

<ul class="nav nav-pills mb-3">
    @foreach (var day in Model.DayOffsets)
    {
        <li role="presentation" class="nav-item">
            <a class="nav-link @(Model.CurrentDayOffset == day.Offset ? "active" : null)" asp-route-date="@day.Date.ToString()">@day.Date?.ToShortDateString()</a>
        </li>
    }
</ul>